/* @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Madimi+One&display=swap') */

*{  
margin: 5px;
padding: 5px;
text-decoration: wavy;
color: cornflowerblue;

}
.qualquercoisa__cont{
width: 615;
display: flex;
flex-direction: column;
gap: 30px;
}

.iml{   
width: 1200px;
height: 900px;
border: 40px solid;
border-left:20px solid;
border-top: 20px solid;
border-right: 20px solid;
margin-left: 10px;
color:cornflowerblue
}

   
.qualquercoisa{
    display: flex;
    flex-flow: row nowrap;
    box-sizing: border-box;
    justify-content: space-between;
    align-items:center;
    padding-left: 100px;
    gap: 20px;

}
body{
height: 100px;
background-color: black;
box-sizing: border-box;

width: 100%;
padding: 100px 300px 90px 30px;
font-size: xx-large;
color:rgb(156, 93, 251);
font-weight:500;
}

.odeioescola7{ 
display:flex;
flex-flow: row wrap;
justify-content:center;
align-content: center; 
gap: 20px;
}


.odeioescola67{
    width: 280px;
    color: black;
    font-size: 24px;
    text-decoration: none;
    text-align: center;
    padding: 21px 0;
    background-color: rgb(0, 217, 255);
    font-weight: 600px;
    border-radius: 40px;
    padding-bottom:20px;
}
